.list-modal {
  margin-top: 1rem;
  padding-left: 35px;
}

.list-content-intro {
  margin-bottom: 1rem;
}

.strikeout {
  text-decoration: line-through;
}

.correction {
  font-style: italic;
  color: red;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .list-modal.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .list-modal.content {
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    width: 50vw;
    height: 50vh;
  }
}
