.list-modal {
  margin-top: 1rem;
  padding-left: 35px;
}

.list-content-intro {
  margin-bottom: 1rem;
}

.strikeout {
  padding-right: 25px;
  text-decoration: line-through;
}

.correction {
  color: red;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-style: italic;
  font-weight: normal;
  left: 30px;
  position: absolute;
  top: -10px;
  letter-spacing: -2px;
  transform: rotate(-3deg);
}

.correction::after {
  bottom: -40px;
  content: '^';
  font-size: 2rem;
  left: 72px;
  position: absolute;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .list-modal.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .list-modal.content {
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    width: 50vw;
    height: 50vh;
  }
}
